node_modules/

# Playwright test results & reports
playwright-report/
test-results/

# Logs & OS files
*.log
.DS_Store
.cache
logs/
*.log

screenshots/
videos/

# Husky
.husky/_/

# Generated chunk specks
tests/hackerNewsChunks/chunk-*.spec.js

# Prettier / Lint staged cache 
.prettiercache

# tmp folder
.tmp